<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<title>Cadastro de Pessoas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Sistema de Contatos</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav"
				aria-controls="menuNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="menuNav">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" href="/pessoa/consulta-pessoa.html">Consulta Pessoas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contato/consulta-contato.html">Consulta de Contatos</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-4">
		<h3 class="mb-3" id="titulo-edicao-pessoa">Edição de Pessoa - </h3>

		<div class="row g-3">
			<div class="col-md-6">
				<label for="nome" class="form-label">Nome</label>
				<input type="text" class="form-control" id="nome" placeholder="Digite o nome">
			</div>
			<div class="col-md-4">
				<label for="cpf" class="form-label">CPF</label>
				<input type="text" class="form-control" id="cpf" placeholder="Digite o CPF" maxlength="14">
			</div>

			<div class="col-12">
				<button class="btn btn-success" onclick="gravarPessoa()">Cadastrar</button>
				<button type="reset" class="btn btn-secondary">Limpar</button>
			</div>
		</div>
	</div>
</body>

</html>

<script>
	const params = new URLSearchParams(window.location.search);

	const id = params.get("id");

	const tituloPessoa = document.getElementById('titulo-edicao-pessoa');

	tituloPessoa.innerText += ` ${id}`;

	const cpfInput = document.getElementById('cpf');
	const nomeInput = document.getElementById('nome');

	cpfInput.addEventListener('input', function (e) {
		let value = e.target.value.replace(/\D/g, '');
		if (value.length > 11) value = value.slice(0, 11);
		value = value.replace(/(\d{3})(\d)/, '$1.$2');
		value = value.replace(/(\d{3})(\d)/, '$1.$2');
		value = value.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
		e.target.value = value;
	});

	async function loadInfoPessoa(){
		const response = await fetch("http://localhost:8080/pessoas/"+id, {
            method: "GET",
        });

        if (response.ok) {
			const responseData = await response.json();
            cpfInput.value = responseData.data.cpf;
			nomeInput.value = responseData.data.nome;
        } else {
            const responseData = await response.json();
            const errors = responseData.data.errors;
            alert("Pessoa não encontrada:\n" + errors.join("\n"));
        }
	}

    async function gravarPessoa() {
        const nome = document.getElementById("nome").value;
        const cpf = document.getElementById("cpf").value;

        const response = await fetch("http://localhost:8080/pessoas/"+id, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                nome: nome,
                cpf: cpf
            })
        });

        if (response.ok) {
            alert("Pessoa alterada com sucesso!");
            document.location = "/pessoa/consulta-pessoa.html";
        } else {
            const responseData = await response.json();
            const errors = responseData.data.errors;
            alert("Erro ao inserir:\n" + errors.join("\n"));
        }
    }

	document.addEventListener("DOMContentLoaded", async function(event) {
        await loadInfoPessoa();
    });
</script>